<div id="cdk-overlay-0" class="cdk-overlay-pane" style="pointer-events: auto; position: static; margin-bottom: 0px;">
  
  <div class="row" style="width: 100%;">
    <div class="col-12">
    <div  class="mat-snack-bar-container ng-tns-c4-0 ng-trigger ng-trigger-state mat-snack-bar-center ng-star-inserted" role="status" style="transform: scale(1); opacity: 1;">
      <div class="mat-simple-snackbar ng-star-inserted"><span>Please click here to check the carbon intensity footprint of your area</span>
        <div class="mat-simple-snackbar-action ng-star-inserted">
          <button mat-button="" class="mat-button mat-button-base">
            <span class="mat-button-wrapper" data-toggle="modal" data-target="#myModal" (click)=viewGraph()>click here</span>
          </button>
          </div>
          </div>
      </div>
      
        <img src="../../../assets/dashboard view.png">
      </div>
  </div>
  
<!-- <div class="banner"> -->
    <!-- <section>
      <a class="btn-bgstroke" data-toggle="modal" data-target="#myModal" (click)=viewGraph()>Click Here!</a>
    </section> -->
    <app-graph></app-graph> 
    
</div>  
