    
<div   class="modal" id="myModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
    
        <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Energy Graph</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
    
        <!-- Modal body -->
            <div class="modal-body">
                <fusioncharts
                    [chartConfig]=chartConfig
                    [dataSource]=dataSource >
                </fusioncharts>
            </div>
    
        <!-- Modal footer -->
            <div class="modal-footer">
                <button class="mr-2" mat-raised-button color="primary"id="subscribe">Subscribe</button>
                <button mat-raised-button color="warn" data-dismiss="modal">Close</button>
            </div>
      </div>
    </div>
    </div>
