
    <div class="container">
       
        <h2>Know everything about carbon intensity of power</h2>
    
        <h4>What is carbon intensity of power?</h4>
        
        <p>It is an indicative trend of regional carbon intensity of the electricity system 48+ hours ahead of the real-time. The carbon intensity forecast includes CO2 emissions related to the electricity generation only. This includes emissions from all large metered power stations, interconnector imports, transmission and distribution losses, and accounts for national electricity demand, embedded wind and solar generation.</p> 
        
        <h4>What is the unit of measurement for carbon intensity of power?</h4>
        <p>The unit of measurement for Carbon intensity of power is gCO2/kwh. Based on the magnitude of carbon intensity of power in a given time period, the values will be classified/indexed into any of the five categories namely High carbon (H), Moderate (M), Low carbon (L).</p>
        
        
        <h4>What is the source for carbon intensity of power forecast data? </h4>
        <p>National Grid ESO, in partnership with Environmental Defense Fund Europe, University of Oxford Department of Computer Science and WWF have developed machine learning algorithm to forecast the carbon intensity of power ahead for each region in Great Britain. British Gas is using the API service provided by National Grid ESO to fetch details of carbon intensity based on customer’s site postcode and display the details in customer’s online portal. 
            <a target="_blank" href="https://carbonintensity.org.uk/">Find out more information on carbon intensity of power</a> </p>
        
        <h4>What does Carbon intensity of power mean to customers?</h4> 
        <p>The objective of displaying the carbon intensity details in customer’s online account management portal is to enable customer plan their energy use based on carbon intensity values of their regions, switch off their home electrical appliance devices or moderate their consumption when the carbon intensity index of their region is very high carbon (VH) or high carbon (H). This will lead to minimising the CO2 emissions in their respective regions.  </p>
        
        <p>Smart ways to optimize your energy consumption</p>
        <p>Thanks to smart home technology, it’s now easier to see what appliances in your home are using the most energy. You can even turn them off or on remotely from wherever you are. <a taget="_blank" href="https://www.britishgas.co.uk/smart-home/hive.html">Find out more</a> </p>
</div>

